:root {
  --accent-mandys-pink: rgba(242, 191, 175, 1);
  --accent-persimmon: rgba(255, 98, 80, 1);
  --accent-sweet-corn: rgba(248, 213, 126, 1);
  --background: rgba(43, 43, 43, 1);
  --body-l-font-family: "Mulish-Regular", Helvetica;
  --body-l-font-size: 21px;
  --body-l-font-style: normal;
  --body-l-font-weight: 400;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 150%;
  --body-m-font-family: "Mulish-Regular", Helvetica;
  --body-m-font-size: 16px;
  --body-m-font-style: normal;
  --body-m-font-weight: 400;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 150%;
  --body-s-font-family: "Mulish-Regular", Helvetica;
  --body-s-font-size: 14px;
  --body-s-font-style: normal;
  --body-s-font-weight: 400;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 160.0000023841858%;
  --body-XL-font-family: "Mulish-Regular", Helvetica;
  --body-XL-font-size: 28px;
  --body-XL-font-style: normal;
  --body-XL-font-weight: 400;
  --body-XL-letter-spacing: 0px;
  --body-XL-line-height: 139.9999976158142%;
  --cta-aqua-squeeze: rgba(229, 244, 242, 1);
  --cta-observatory: rgba(0, 147, 121, 1);
  --deviders-grey: rgba(216, 216, 216, 1);
  --display-2xl-font-family: "Poppins-Bold", Helvetica;
  --display-2xl-font-size: 90px;
  --display-2xl-font-style: normal;
  --display-2xl-font-weight: 700;
  --display-2xl-letter-spacing: -2.25px;
  --display-2xl-line-height: 129.99999523162842%;
  --display-l-font-family: "Poppins-Bold", Helvetica;
  --display-l-font-size: 50px;
  --display-l-font-style: normal;
  --display-l-font-weight: 700;
  --display-l-letter-spacing: -1px;
  --display-l-line-height: 129.99999523162842%;
  --display-m-font-family: "Poppins-Bold", Helvetica;
  --display-m-font-size: 38px;
  --display-m-font-style: normal;
  --display-m-font-weight: 700;
  --display-m-letter-spacing: -0.76px;
  --display-m-line-height: 129.99999523162842%;
  --display-m-semibold-font-family: "Poppins-SemiBold", Helvetica;
  --display-m-semibold-font-size: 38px;
  --display-m-semibold-font-style: normal;
  --display-m-semibold-font-weight: 600;
  --display-m-semibold-letter-spacing: -0.76px;
  --display-m-semibold-line-height: 129.99999523162842%;
  --display-s-font-family: "Poppins-SemiBold", Helvetica;
  --display-s-font-size: 28px;
  --display-s-font-style: normal;
  --display-s-font-weight: 600;
  --display-s-letter-spacing: -0.28px;
  --display-s-line-height: 129.99999523162842%;
  --display-XL-font-family: "Poppins-Bold", Helvetica;
  --display-XL-font-size: 67px;
  --display-XL-font-style: normal;
  --display-XL-font-weight: 700;
  --display-XL-letter-spacing: -1.675px;
  --display-XL-line-height: 129.99999523162842%;
  --display-XS-font-family: "Poppins-SemiBold", Helvetica;
  --display-XS-font-size: 21px;
  --display-XS-font-style: normal;
  --display-XS-font-weight: 600;
  --display-XS-letter-spacing: 0px;
  --display-XS-line-height: 129.99999523162842%;
  --neutral-700: rgba(55, 65, 81, 1);
  --neutral-900: rgba(17, 24, 39, 1);
  --neutral-alto: rgba(216, 216, 216, 1);
  --neutral-mine-shaft: rgba(45, 45, 45, 1);
  --neutral-zircon: rgba(248, 249, 255, 1);
  --onboarding-background-grey: rgba(45, 45, 45, 1);
  --shadow-XL: 34.854148864746094px 29.626028060913086px 48.34000015258789px 0px rgba(51, 102, 255, 0.05);
  --text: rgba(255, 255, 255, 1);
  --white: rgba(255, 255, 255, 1);
}
