.client-logo-mark {
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 100px;
  box-shadow: 0px 10px 20px #29292a12;
  height: 64px;
  width: 64px;
}

.client-logo-mark.shopify {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-27@2x.png);
}

.client-logo-mark.zoom {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-92@2x.png);
}

.client-logo-mark.loom {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-106@2x.png);
}

.client-logo-mark.sketch {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-90@2x.png);
}

.client-logo-mark.paypal {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-37@2x.png);
}

.client-logo-mark.apple {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-91@2x.png);
}

.client-logo-mark.airbnb {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-89@2x.png);
}

.client-logo-mark.hubspot {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-43@2x.png);
}

.client-logo-mark.slack {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-42@2x.png);
}

.client-logo-mark.spotify {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-41@2x.png);
}

.client-logo-mark.mailchimp {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-94@2x.png);
}

.client-logo-mark.dropbox {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-101@2x.png);
}

.client-logo-mark.discord {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-34@2x.png);
}

.client-logo-mark.product-hunt {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-35@2x.png);
}

.client-logo-mark.react {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-25@2x.png);
}

.client-logo-mark.kickstarter {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-36@2x.png);
}

.client-logo-mark.amazon {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-28@2x.png);
}

.client-logo-mark.stripe {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-93@2x.png);
}

.client-logo-mark.figma {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-32@2x.png);
}

.client-logo-mark.google {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-31@2x.png);
}

.client-logo-mark.eventbrite {
  background-image: url(https://generation-sessions.s3.amazonaws.com/9e6de5936eab2f8d0051f2bd4ac889f3/img/logo-86@2x.png);
}
